@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>

<html lang="it">
<head>
    <link rel="stylesheet" href="~/css/menu.css" />
    <link rel="stylesheet" href="~/css/products.css" />
    <link rel="stylesheet" href="~/css/product.css" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <ul class="menu">
        @{
            var menu = DeveloppareEntityFramework.Common.MenuEntriesUtility.Menu;

            foreach(var menuEntry in menu.Entries)
            {
                <li>
                    <a asp-controller=@menuEntry.Controller asp-action=@menuEntry.Action>@menuEntry.Text</a>
                </li>
            }
        }
    </ul>
    
    <div>
        @RenderBody()
    </div>
</body>
</html>
